{{! 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 }}

<main>
  <h1 class='title'>Домашні завдання</h1>

  <ul class='list'>
    <li><span class='item'>Користувач:</span>
      <a href='user'>/user</a></li>
    <li><span class='item'>Товар:</span>
      <ul>
        <li><a
            href='product-create'
          >/product-create</a></li>
        <li><a href='product-list'>/product-list</a></li>
      </ul>
    </li>
    <li><span class='item'>Замовлення:</span>
      <a href='purchase'>/purchase</a></li>
  </ul>
</main>

{{! 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}