@use '../../lib/service.scss' as s;

main {
  padding: s.space(5);
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: s.space(7);
  color: s.color('accent');
}

.list {
  display: grid;
  gap: s.space(3);
}

.item {
  font-size: 16px;
  font-weight: bold;
}
