@use '../../lib/service.scss' as s;

.products {
  // display: flex;
  // flex-direction: column;
  // padding: s.space(4);
  // gap: s.space(8);

  &__title {
    font-size: 20px;
    font-weight: bold;
    color: s.color('accent');
    margin-bottom: s.space(5);
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    // gap-columns: s.space(1);
    column-gap: s.space(3);
    row-gap: s.space(6);
  }
}

main {
  // display: flex;
  // flex-direction: column;
  // gap: s.space(10);
  padding: s.space(5);
}

.product-card {
  border: 1px solid s.color('light');
  box-shadow: 4px 4px 4px 0px s.color('light');
  padding: s.space(5);
  border-radius: 20px;
  // width: 800px;

  display: flex;
  flex-direction: column;
  gap: s.space(5);

  &__name {
    font-size: 20px;
    font-weight: bold;
  }

  &__id {
    color: s.color('light');
  }

  &__info {
    display: flex;
    gap: s.space(5);
    justify-content: space-between;
  }

  &__price {
    font-size: 20px;
    font-weight: bold;
  }

  &__link {
    font-size: 20px;
    color: s.color('accent');
    text-decoration: none;
  }
}
