@use '../../lib/service.scss' as s;

@use '../../component/product-card/style.scss' as
  productCard;

.products {
  &__title {
    font-size: 20px;
    font-weight: bold;
    color: s.color('accent');
    margin-bottom: s.space(5);
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: s.space(3);
    row-gap: s.space(6);
  }
}

main {
  padding: s.space(5);
}
